header{
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    text-align: center;
}

img{
    height: 200px;
     width: 100%;
 }

.nav-bar{
    width: 80%;
    left: -20px !important;
    
}
.nav-bar-sub{
    width: 80%;
}

#anchor{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 15px;
    font-size: 25px;
}

a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

a:hover{
    color: red;
}

.one{
    background-color: black;
    color: white;
}

.footer{
    display: flex;
    background-color: black;
    color: white;
    justify-content:space-evenly ;
    padding: 5px;
}

li{
    list-style: none;

}

.five{
    display: flex;
    justify-content: space-evenly;
}

h1{
    text-align: center;
}

